<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phone_numbers</title>
</head>
<body>
    <form action="", method="post">
        <br>
        <label for="contN">ContactName</label>
        <input id="contN" type="text" name="name" placeholder="contactName">
        </br>
        <br>
        <label for="phV">PhoneValue</label>
        <input id="phV" type="text" name="phone" placeholder="phoneValue">
        </br>
        <br>
        <input type="submit" value="Save">
        </br>
    </form>
</body>
</html>