<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Внесение изменений</title>
</head>
<body>
    <form action="" method="post">
    <label for="changen">Введите новое имя</label>
    <input id="changen" type="text" name="newname" placeholder="Введите новое имя">
    <label for="changep">Введите новый телефон</label>
    <input id="changep" type="text" name="newphone" placeholder="Введите новый телефон">
    <input type="submit" value="Изменить">
    </form>
</body>
</html>